@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --safe-top: env(safe-area-inset-top);
    --safe-bottom: env(safe-area-inset-bottom);
}

body {
    padding-top: var(--safe-top);
    padding-bottom: var(--safe-bottom);
}